TITTLE:DATASCIENCE TOOLS AND ECOSYSTEM

INTRODUCTION: In this notebook, datascience tools and ecosystem are summarized

DATASCIENCE LANGUAGES:Numbers list:python,r,sql,julia

DATASCIENCE LIBRARIES:Numbered list:Numpy,pandas,matplotlib,scikit-learn
| Data Science Tools |
|------------------|
| Jupyter Notebook  |
| RStudio           |
| VSCode            |

ARITHMETIC EXPRESSSION INTRODUCTION:### Below are a few examples of evaluating arithmetic expressions in Python.

OBJECTIVES
**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Understand basic arithmetic operations in Python
- Explore data science tools

AUTHOR: LAVANYA THATCHANAMOORTHTY

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335